<div class="container">
    <h2>{{charName}}</h2>
    <img src="{{charImg}}.{{charImgEx}}" alt="">
    <h4>Comics Available: <a href="{{seriesLink}}">{{seriesAvail}}</a></h4>
    <h4>Series Available: <a href="{{seriesLink}}">{{seriesAvail}}</a></h4>
</div>


charName, charImg, charImgEx, comicsAvail, comicsLink, seriesAvail, seriesLink